/* css reset */
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
*::before,
*::after {
  box-sizing: border-box;
}
body {
  background-color: #dddddd;
}

ul li {
  list-style: none;
}
.add {
  width: 72px;
  vertical-align: -0.15em;
  fill: currentColor;
  overflow: hidden;
}
.icon {
  width: 1em;
  height: 1em;
  vertical-align: -0.15em;
  fill: currentColor;
  overflow: hidden;
}
.globalHeader > form.searchForm {
  max-width: 297.5px;
  margin-top: 40px;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 30px;
  height: 40px;
  display: flex;
  justify-content: space-between;
}
@media (min-width: 544px) {
  .globalHeader > form.searchForm {
    max-width: 480px;
    margin-top: 90px;
    margin-left: auto;
    margin-right: auto;
  }
}

.globalHeader > form.searchForm > input {
  outline: none;
  flex-grow: 1;
  padding-left: 10px;
  background: #f1f3f4;
  border: 1px solid #444245;
  box-sizing: border-box;
  border-radius: 10px;
}
.globalHeader > .searchForm > button {
  background-color: transparent;
  outline: none;
  border: none;
  width: 70px;
  margin-left: 12px;
  background: #444245;
  border-radius: 10px;
  font-size: 16px;
  color: #fdfdfd;
}
.globalMain {
  max-width: 300px;
  margin-left: auto;
  margin-right: auto;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}
@media (min-width: 544px) {
  .globalMain {
    max-width: 900px;
    margin-top: 90px;
    margin-left: auto;
    margin-right: auto;
  }
}
.siteList {
  display: flex;
  flex-wrap: wrap;
  margin-right: -5px;
}
.siteList > .site {
  width: 70px;
  margin-bottom: 12px;
  position: relative;
  margin-right: 5px;
}
@media (min-width: 544px) {
  .siteList {
    margin-right: -10px;
  }
  .siteList > .site {
    width: 140px;
    margin-right: 10px;
  }
}
.siteList > .site > .siteImage {
  height: 70px;
  border-radius: 8px;
  border: 1px solid #444245;
  background-color: #f1f3f4;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 32px;
  color: #444245;
}
@media (min-width: 544px) {
  .siteList > .site > .siteImage {
    height: 140px;
    font-size: 72px;
  }
}
.siteList > .site > .siteText {
  text-align: center;
  word-break: break-all;
}
.siteList > .site > .delete {
  position: absolute;
  right: 4px;
  top: 2px;
  cursor: default;
}
@media (min-width: 544px) {
  .site > .siteImage:hover {
    color: black;
    font-size: 92px;
    border: 1.2px solid black;
  }
  .addSite > .add:hover {
    width: 92px;
  }
}
